@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    background-color: #f7f7f7;
    font-family: 'Nunito Sans', sans-serif;
}

.App-header {
    display: flex;
    min-height: 100px;
    width: 100%;
    padding: 1.5rem;
    background-color: #ffffff;
    align-items: center;
}

h1.App-heading {
    font-family: 'Nunito Sans', sans-serif;
}

